@import "utils.less";

@HEADER_TYPE: sans-serif;
@COPY_TYPE: serif;

@STATIC: "static/images";

html, body {
	font-family: @COPY_TYPE;
	font-style: normal;
	-webkit-font-smoothing: subpixel-antialiased;
}

* {
	margin: 0px;
	padding: 0px;
	.box-sizing(border-box);
}

