{% extends "base.html" %}
{% block body_class %}account{% endblock %}
{% block content %}
	<div class="panel" id="control_panel">
		<h3><a href="{% url account %}">{{ user }}</a> <a class="flyout" href="{% url logout %}"><i class="icon-signout"></i>Log Out</a></h3>
		<hr>
		<p><a class="btn" href="{% url account_gists %}"><i class="icon-upload"></i> Update Bot Code</a></p>
		{% if is_active %}
		<hr>
		<p><a class="btn" href="{% url bot_debug %}"><i class="icon-wrench"></i> Debug Bot</a></p>
		<hr>
		<div id="grid_scores">
			<h2>High Scores</h2>
			<ul>
			</ul>
		</div>
		{% endif %}
		<hr>
		<div>
			<h2>Need Help?</h2>
			<p><a href="https://github.com/GridControl-Team/GridControl/blob/master/README.rst"><i class="icon-question-sign"></i> See the help</a></p>
		</div>
	</div>
	{% block sub_content %}
	{% endblock %}
{% endblock %}
