{% extends "account/base.html" %}
{% block body_class %}{{ block.super }} home{% endblock %}
{% block sub_content %}
	{% if is_active %}
		<div class="panel" id="grid_screen" data-userid="{{ user.id }}"></div>
		<div class="panel" id="grid_history">
			<p id="grid_connection"></p>
			<h2>Bot History</h2>
			<ul></ul>
		</div>
		<div class="panel" id="grid_panic"><span class="hide_panic"><i class="icon-remove-sign"></i> Hide</span><h1>Panic Occured!</h1><pre></pre></div>
		<hr>
	{% else %}
		<div class="panel" id="grid_getstarted">
			<h2>You need to update bot code!</h2>
			<ol>
				<li>Please read the <a href="https://github.com/GridControl-Team/GridControl/blob/master/README.rst">HELP</a></li>
				<li>Add code in a github gist (see sample file <a href="https://gist.github.com/4375072">here</a>)</li>
				<li>Select code with <a href="{% url account_gists %}">Gist Selecter</a></li>
			</ol>
		</div>
	{% endif %}
{% endblock %}
